@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;


    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .imageInitial {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: animate 30s infinite ease-in-out;
        -moz-animation: animate 30s infinite ease-in-out;
        -webkit-animation: animate 30s infinite ease-in-out;

        @keyframes animate {
            0%, 100%{
                background-image: url("https://images-pw.pixieset.com/elementfield/69219295/4D7A8890-08d25b2d.jpg");
            }
            25%{
                background-image: url("https://images-pw.pixieset.com/elementfield/30319295/4D7A0074PB-876f2e22.jpg");
            }
            50%{
                background-image: url("https://i.ibb.co/mcTVV9p/262860400-307535207899301-4475015602759072354-n.jpg");
            }
            75%{
                background-image: url("https://images-pw.pixieset.com/elementfield/01319295/4D7A4573-7c719fe7.jpg");
            }
        }
    
        .right {
            flex: 1;
            display: relative;
    
            .wrapper {
                width: 100%;
                height: 100%;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                @include mobile {
                    padding-left: 0;
                    align-items: center;
                }
    
    
                h1{
                    font-size: 60px;
                    margin: 10px 0;
    
                    @include mobile {
                        font-size: 40px;
                    }
                }
                h2{
                    font-size: 35px;
                } 
                h3{
                    font-size: 30px;
    
                    @include mobile {
                        font-size: 20px;
                    }
    
                    span{
                        font-size: inherit;
                        color: $mainColor;
                    }
    
                    .ityped-cursor {
                        animation: blink 1s infinite;
                    }
    
                    @keyframes blink {
                        50%{
                            opacity: 1;
                        }
                        100%{
                            opacity: 0;
                        }
                    }
                }
            }
    
            a{
                position: absolute;
                bottom: 10px;
                right: 40%;
    
                img{
                    width: 30px;
                    animation: arroBlink 2s infinite;
                }
    
                @keyframes arroBlink {
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
        
    }

    .secondPart{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 3%;
    }
}